.addScores {
    border: solid;
    border-radius: .7rem;
    padding: .25rem;
    background-color: #565c69;
    margin-bottom: .5rem;
}

.player1Score {
    display: inline-block;
    margin-left: .25rem;
}

.player2Score {
    display: inline-block;
    margin-left: .25rem;
}

.player3Score {
    display: inline-block;
    margin-left: .25rem;
}

.player4Score {
    display: inline-block;
    margin-left: .25rem;
}

.playerName {
    display: inline-block;
    margin-right: 2rem;
    text-decoration: underline;
}

.playerScore {
    display: inline-block;
    margin-left: 2rem;
}

.getGameInput {
    width: 50%;
    border: solid;
    border-color: black;
    color: black;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #00a028;
}

.gameName {
    text-decoration: underline;
    font-weight: bolder;
    color: black;
    background-color: #82858b;
    border: solid;
    border-radius: .4rem;
    margin-top: .5rem;
    height: fit-content;
}

.course {
    text-decoration: underline;
    font-weight: bolder;
    color: black;
    background-color: #82858b;
    border: solid;
    border-radius: .4rem;
    margin-top: .5rem;
}

.gameType {
    text-decoration: underline;
    font-weight: bolder;
    color: black;
    background-color: #82858b;
    border: solid;
    border-radius: .4rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}


.holeNumber {
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.scores {
    background-color: #00a028;
    color: black;
    font-weight: 600;
    border-radius: .7rem;
    width: 60%;
    text-align: center;
    opacity: .85;
    margin-top: .5rem;
}

.scorecardPartySearch {
    border: solid;
    border-color: black;
    border-radius: .7rem;
    background-color: #565c69;
    padding: .25rem;
    margin-top: .5rem;
}

h1 {
    padding: .5rem;
}

.loading {
    background-color: white;
    color: black;
    border-radius: .7rem;
    margin-top: .5rem;
}

.danger {
    background-color: red;
    color: black;
    border: solid;
    border-radius: .6rem;
    margin-top: .5rem;
}

