.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body {
  background-image:url('./images/snake_game.png');
} */

/* main styles */

.header {
  text-align: center;
  background-color: #00a028;
  padding: .5rem;
}

.navBar {
  padding: .5rem;
  text-align: center;
}

#navHomeBtn {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
}

#navOurStoryBtn {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
}

#navScorecard {
  border: solid;
  background-color: #6d9ba8;
  color: #ffffff;;
  padding: .25rem;
  border-radius: .70rem;
}

#navLogin {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
}

#navLogout {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
}

#navFeedback {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
}

#navNoScorecard {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
}

#navHomeBtn:hover {
  background-color: #949fb5;
}

#navOurStoryBtn:hover {
  background-color: #949fb5;
}

#navScorecard:hover {
  background-color: #42597a;
}

#navNoScorecard:hover {
  background-color: #42597a;
}

#navLogin:hover {
  background-color: #949fb5;
}

#navLogout:hover {
  background-color: #949fb5;
}

#navFeedback:hover {
  background-color: #949fb5;
}

footer {
  text-align: center;
}