
body {
  color:#E3EEEB;
  background-position-x: relative;
  background-position-y: relative;
  background-attachment: fixed;
  background-image:url('./images/country_club.jpg'); 
  height: 100%;
}

/* main styles */

.header {
  text-align: center;
  background-color: #00a028;
  padding: .5rem;
}

.navBar {
  padding: .5rem;
  text-align: center;
}

#navHomeBtn {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
}

#navOurStoryBtn {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
}

#navScorecard {
  border: solid;
  background-color: #6d9ba8;
  color: #ffffff;;
  padding: .25rem;
  border-radius: .70rem;
}

#navLogin {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
}

#navLogout {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
}

#navFeedback {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
}

#navNoScorecard {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
}

#navHomeBtn:hover {
  background-color: #949fb5;
}

#navOurStoryBtn:hover {
  background-color: #949fb5;
}

#navScorecard:hover {
  background-color: #42597a;
}

#navNoScorecard:hover {
  background-color: #42597a;
}

#navLogin:hover {
  background-color: #949fb5;
}

#navLogout:hover {
  background-color: #949fb5;
}

#navFeedback:hover {
  background-color: #949fb5;
}

footer {
  text-align: center;
}

/* build a match */
.tabletop {
  border: solid;
}

/* SCORECARD STYLING */
.scores {
  border: solid;
  padding: .5rem;
  margin: 1rem;
}

/* HOMEPAGE */
.createGameBtn {
  text-align: center;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: .5rem;
  background-color: #565c69;
}

.ourStory {
  border: solid;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  padding: 1rem;
  border-radius: .7rem;
  background-color: #00a028;
}