
body {
  color:#ffffff;
  background-attachment: fixed;
  background-image:url('./images/country_club.jpg'); 
  height: 100%;
}

/* main styles */

.header {
  text-align: center;
  background-color: #00a028;
  padding: .5rem;
  color: black;
}

.modal {
  background-color: #34383f;
}

.navBar {
  padding: .5rem;
  text-align: center;
}

#navHomeBtn {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
  border-color: black;
}

#navScorecard {
  border: solid;
  background-color: #6d9ba8;
  color: #ffffff;;
  padding: .25rem;
  border-radius: .70rem;
  border-color: black;
}

#navLogin {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
  margin-left: .98rem;
  border-color: black;
}

#navLogout {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
  margin-left: .98rem;
  border-color: black;
}

#navNoScorecard {
  border: solid;
  background-color: #565c69;
  color: #ffffff;
  padding: .25rem;
  border-radius: .70rem;
  border-color: black;
}

#navHomeBtn:hover {
  background-color: #949fb5;
}

#navOurStoryBtn:hover {
  background-color: #949fb5;
}

#navScorecard:hover {
  background-color: #42597a;
}

#navNoScorecard:hover {
  background-color: #42597a;
}

#navLogin:hover {
  background-color: #949fb5;
}

#navLogout:hover {
  background-color: #949fb5;
}

#navFeedback:hover {
  background-color: #949fb5;
}

footer {
  text-align: center;
}

/* HOMEPAGE */
.createGameBtn {
  text-align: center;
  width: fit-content;
  margin-top: .5rem;
  background-color: #565c69;
  border: solid;
  border-color: black;
}

.ourStory {
  border: solid;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  padding: 1rem;
  border-radius: .7rem;
  background-color: #00a028; opacity: .85;
  border-color: black;
}

.submitBtn {
  background-color: #34383f;
  border-color: black;
}

.gameType {
  color: black;
}

/*  ADD PLAYER  */
.addPlayer {
  background-color: #00a028; opacity: .85;
  border: solid;
  border-radius: .7rem;
  border-color: black;
  width: 70%;
  padding: .5rem;
}

.playerBtn {
  margin-top: .5rem;
  background-color: #34383f;
  border: solid;
  border-color: black;
}

.partyNameTitle {
  color: black;
  font-weight: bolder;
  text-decoration: underline;
}

.playerTitle {
  color: black;
  text-decoration: underline;
  font-weight: 400;
}